.img-about {
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #f0f0f0;
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  
    a {
        color: $brand-color;
        text-decoration: none;
    
        &:visited {
            color: darken($brand-color, 15%);
        }
    
        &:hover {
            color: $text-color;
            text-decoration: underline;
        }
    
        .social-media-list &:hover {
            text-decoration: none;
    
            .username {
                text-decoration: underline;
            }
        }
    }
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
}
